* {
  margin: 0;
  background-color: rgb(255, 181, 194);
  font-family: "Encode Sans", sans-serif;
}

.main-title {
  text-align: center;
  color: rgb(99, 28, 28);
  margin-top: 20px;
  font-weight: 800;
  font-size: 50px;
}

/* TASK */

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-form__input {
  width: 300px;
  height: 40px;
  margin-top: 40px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.todo-form__button {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  margin: 40px 0 0 10px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.todo-form__task {
  background-color: #ffffff;
}

/* FILTER */

.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filter-container__select {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.filter-container__option {
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.task-item {
  width: 50%;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
}

.check-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: none;
  margin: 10px 0 0 10px;
  background-color: #00ff00;
  font-weight: 600;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: none;
  margin: 10px 0 0 10px;
  background-color: #f44336;
  font-weight: 600;
  font-size: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
