* {
    margin: 0;
    background-color: rgb(255, 181, 194);
    font-family: 'Encode Sans', sans-serif;
}

.main-title {
    text-align: center;
    color: rgb(99, 28, 28);
    margin-top: 20px;
    font-weight: 800;
    font-size: 50px;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-form__input {
    width: 300px;
    height: 40px;
    margin-top: 40px;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.todo-form__button {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    margin: 40px 0 0 10px;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}